{% extends "front_end/base.html" %}
{% block page_header %}
<p><center>
    <b>
        <h1 class="display-4">About Root 66 Cyber Clubs</h1>
    </b>
</center></p>
{% endblock page_header %} 

{% block content %}
<div class="p-3 mb-4 border rounded-3">
    <p><center>
        <b>
            <h4>How We Began:</h4>
        </b>
    </center></p>
    <p>Please put in the information regarding the origin of Root66Clubs.</p>    
    </div>
</div>

<div class="p-3 mb-4 border rounded-3">
    <p><center>
        <b>
            <h4>Goals:</h4>
        </b>
    </center></p>
    <p>Please put in the information regarding the goals of Root66Clubs.</p>    
    </div>
</div>

<div class="p-3 mb-4 border rounded-3">
    <p><center>
        <b>
            <h4>Community Outreach:</h4>
        </b>
    </center></p>
    <p>While we desire to reach out to students on campus, we also have a mindset to make an impact on our community. Discuss about GenCyber, Girls Scout...</p>    
    </div>
</div>


<div class="p-3 mb-4 border rounded-3">
    <p><center>
        <b>
            <h4>Recent Accomplishments: </h4>
        </b>
    </center></p>
    <p>- Hosted a TUCTF Competition with thousands of particpants.</p>    
    <p>- Qualified for Global Finals for CPTC</p>
    <p>- Had several teams place top 50 in Hivestorm</p>

    </div>
</div>


{% endblock content %}