{% extends "front_end/base.html" %}

{% block page_header %}

    <img src="root66_website\front_end\templates\front_end\club_photos\UNIVERSITY OF TULSA STUDENT CHAPTER.png" alt="TU WiCyS Logo" width="100%" height="auto" class="center"> 

    <div class=""p-3 mb-4 border rounded-3">
        <p><center>
            <b>
        <h1 class="display-4"; style="font-family:verdana; color: thistle;">TU Women in Cyber Security (TU WiCyS)</h1>
            </b>
    </center>
        </p>
        <h2>Who are We?</h2>
        <p class=""lead">The TU student chapter of Women in Cyber Security (WiCyS) was established in 2019 and is part of the global WiCyS network. 
            TU WiCyS is dedicated to the recruitment, retention, and advancement of young women entering the cyber security space. 
            We host technical and networking events throughout the academic year and send students to the WiCyS conference every year. 
            If you are interested in learning more about TU WiCyS or are a prospective student who would like to be involved, 
            please reach out to the faculty advisor Codi West at <strong class="accent-text">codiwest@utulsa.edu</strong> 
            or join the TU WiCyS discord below.</p>
        <p class=""lead">For more information about the global Women in Cyber Security organization, visit <a class="web-links" href="wicys.org" rel="external">wicys.org</a>.</p>
        </div>
    </div>
    <h2>Our Events for Fall 2023</h2>
    <div class="events">
        <div class="event">
            <div class="event-info">
                <h5>All meetings are held in KEP 2005 on Thursdays at 6 PM, unless otherwise noted.</h5>
                <ul>
                    <li>Welcome Meeting and Jeopardy: 9/14</li>
                    <li>Summer Experiences: 9/28</li>
                    <li>Halloween Movie Night: 10/12</li>
                    <li>Career Panel: 10/26</li>
                    <li>Robo Dog Presentation: 11/9 (Rayzor Commons)</li>
                    <li>Networking Skills: 11/16</li>
                    <li>Friendsgiving: 11/17 (KEP L131 at noon)</li>
                    <li>End-of-Year Game Night: 11/30 (Student Union Alcove Room)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="officers">
        <div class="officer">
            <div class="officer-info">
                <h2>2023-2024 Officers</h2>
                <h3>President</h3>
                <p1>Samantha Philips</p1>
                <h3>Vice President</h3>
                <p1>Haleigh Harris</p1>
                <h3>Treasurer</h3>
                <p1>Marina Katoh</p1>
                <h3>Event Promotion</h3>
                <ul>
                    <li>Riley Raasch</li>
                    <li>Madi Doan</li>
                    <li>Laurel Martich</li>
                </ul>
                <h3>Event Committee</h3>
                <ul>
                    <li>Rhea Katari</li>
                    <li>Lizzy Christensen</li>
                    <li>Evelyn Escalera Munoz</li>
                </ul>
    </div>
    <div class="bottom">
        <div class="info-wrapper">
            <h2>Connect With Us</h2>
            <div class="one">
                <h3>Discord</h3>
                <p1>Join the TU WiCyS Discord <a class="web-links" href="https://discord.gg/BsbQBt6XVc" rel="external">here</p1>
            </div>
            <div class="two">
                <h3>Twitter</h3>
                <p1>Follow TU WiCyS on Twitter <a class="web-links" href="https://twitter.com/tuwicys" rel="external">here</p1>
            </div>
            <div class="three">
                <h3>Instagram</h3>
                <p1>Follow TU WiCyS on Instagram <a class="web-links" href="https://www.instagram.com/tuwicys/" rel="external">here</p1>
            </div>
        </div>
    </div>
{% endblock content %} 