
.navbar svg {
    height: 30px;  /* or whatever height suits your design */
    width: 40px;   /* maintains the aspect ratio */
    vertical-align: middle; /* this helps to align it vertically if needed */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.border {
    border-radius:50%;
}